.wrapper {
  margin-left: 1.1rem;
  margin-right: 1.1rem;
}

.enter_code_wrapper {
  width: 17.8125rem;
  height: 4.94rem;
  margin-top: 3.75rem;
  gap: 1rem;
}

.enter_code {
  width: 11.19rem;
  height: 2.44rem;
  font-family: "Clash Display";
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.54rem;
  text-align: left;
}
.code {
  font-family: "Source Sans Pro";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  text-align: left;
  margin-top: 0.5rem;
}

.email {
  font-family: "Source Sans Pro";
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.26rem;
  text-align: left;
}

.verification_wrapper {
  width: 37.1rem;
  height: 4.75rem;
  margin-top: 4.5rem;
  gap: 0.5rem;
}

.verification-label {
  font-family: "Clash Display";
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.23rem;
  text-align: left;
  margin-bottom: 0.5rem;
  color: #010101;
}
.verification {
  width: 20.19rem;
  height: 3rem;
  padding-left: 1.25rem;
  gap: 0.625rem;
  border-radius: 0.5rem;
  border: 0.0625rem;
  border-style: solid;
  border-color: #d7dae0;
}

.verification_input input:focus {
  outline: 0;
  background-color: #f9fafb;
  border-color: #0257ee;
}

.recieve_code {
  margin-top: 0.28rem;
  font-family: "Clash Display";
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 0.922rem;
  text-align: left;
  color: #667185;
}

.resend_code {
  color: #0257ee;
}

.button {
  width: 21.44rem;
  height: 3rem;
  gap: 1rem;
  border-radius: 1.875rem;
  background-color: #0257ee;
  color: #f6f7f9;
  margin-top: 3.5625rem;
  border-color: #0257ee;
  border-style: solid;
}

.incorrect input {
  background-color: #fdf2f2;
  border-color: #fa2b2b;
  color: #fa2b2b;
}

.correct input {
  background-color: #f3faf7;
  border-color: #2ac940;
  color: #2ac940;
  font-family: "Clash display";
}

.otp_container {
  position: relative;
}

.correct {
  font-family: "Source Sans Pro";
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.26rem;
  text-align: left;
  color: #2ac940;
}

.incorrect {
  color: #fa2b2b;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.26rem;
  font-family: "Source Sans Pro";
}
.error_icon {
  position: absolute;
  margin-top: -2.19rem;
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 19.6rem;
  cursor: pointer;
  display: none;
}

.error_display {
  position: absolute;
  margin-top: -2.19rem;
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 19.6rem;
  cursor: pointer;
  display: block;
}

.success_icon {
  position: absolute;
  margin-top: -2.19rem;
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 19.6rem;
  cursor: pointer;
  display: none;
}

.success_display {
  position: absolute;
  margin-top: -2.19rem;
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 19.6rem;
  cursor: pointer;
  display: block;
}

@media only screen and (min-width: 48rem) {
  .enter_code_wrapper {
    width: 17.8125rem;
    height: 4.94rem;
    margin-top: 8.94rem;
    margin-left: 12.5rem;
    margin-left: 12.5rem;
    gap: 1rem;
  }

  .enter_code {
    width: 11.19rem;
    height: 2.44rem;
    font-family: "Clash Display";
    font-size: 2rem;
    font-weight: 600;
    line-height: 2.46rem;
    text-align: left;
    margin-left: 3.625rem;
  }
  .code {
    font-family: "Source Sans Pro";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    text-align: left;
    margin-top: 1rem;
  }

  .email {
    font-family: "Source Sans Pro";
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.26rem;
    text-align: left;
  }

  .verification_wrapper {
    width: 37.1rem;
    height: 4.75rem;
    margin-top: 8.44rem;
    margin-left: 4.375rem;
    margin-right: 4.375rem;
    gap: 0.5rem;
  }

  .verification-label {
    font-family: "Clash Display";
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.23rem;
    text-align: left;

    margin-bottom: 0.5rem;
  }
  .verification {
    width: 36.19rem;
    height: 3rem;
    padding-left: 0.88rem;
    gap: 0.625rem;
    border-radius: 0.5rem;
    border: 0.0625rem;
    border-style: solid;
    color: #d7dae0;
  }

  .verification_input input:focus {
    outline: 0;
    background-color: #f9fafb;
    border-color: #0257ee;
  }

  .recieve_code {
    margin-top: 0.28rem;
    font-family: "Clash Display";
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 0.9225rem;
    text-align: left;
    color: #667185;
  }

  .resend_code {
    color: #0257ee;
  }

  .button {
    width: 37.1rem;
    height: 3rem;
    gap: 1rem;
    border-radius: 1.88rem;
    background-color: #0257ee;
    color: #f6f7f9;
    margin-top: 3.6rem;
    border-color: #0257ee;
    border-style: solid;
  }

  .incorrect input {
    background-color: #fdf2f2;
    border-color: #fa2b2b;
    color: #fa2b2b;
  }

  .correct input {
    background-color: #f3faf7;
    border-color: #2ac940;
    color: #2ac940;
    font-family: "Clash display";
  }

  .otp_container {
    position: relative;
  }

  .correct {
    font-family: "Source Sans Pro";
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.26rem;
    text-align: left;
    color: #2ac940;
  }

  .incorrect {
    color: #fa2b2b;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.26rem;
    font-family: "Source Sans Pro";
  }
  .error_icon {
    position: absolute;
    margin-top: -2.19rem;
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 34.5625rem;
    cursor: pointer;
    display: none;
  }

  .error_display {
    position: absolute;
    margin-top: -2.19rem;
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 34.5625rem;
    cursor: pointer;
    display: block;
  }

  .success_icon {
    position: absolute;
    margin-top: -2.19rem;
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 34.5625rem;
    cursor: pointer;
    display: none;
  }

  .success_display {
    position: absolute;
    margin-top: -2.19rem;
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 34.5625rem;
    cursor: pointer;
    display: block;
  }
}

@media only screen and (min-width: 65rem) {
  .enter_code_wrapper {
    width: 17.8125rem;
    height: 4.94rem;
    margin-top: 8.94rem;
    margin-left: 36.1rem;
    gap: 1rem;
  }

  .enter_code {
    width: 11.19rem;
    height: 2.44rem;
    font-family: "Clash Display";
    font-size: 2rem;
    font-weight: 600;
    line-height: 2.46rem;
    text-align: left;
    margin-left: 3.63rem;
  }

  .code {
    font-family: "Source Sans Pro";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    text-align: left;
    margin-top: 1rem;
  }

  .verification_wrapper {
    width: 37.1rem;
    height: 4.75rem;
    margin-top: 8.44rem;
    margin-left: 26.5rem;
    gap: 0.5rem;
  }

  .verification-label {
    font-family: "Clash Display";
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.23rem;
    text-align: left;
    margin-bottom: 0.5rem;
  }

  .verification {
    width: 36.19rem;
    height: 3rem;
    padding-left: 0.875rem;
    gap: 0.625rem;
    border-radius: 0.5rem;
    border: 0.0625rem;
    border-style: solid;
    color: #d7dae0;
  }

  .verification_input input:focus {
    outline: 0;
  }

  .recieve_code {
    margin-top: 0.28rem;
    font-family: "Clash Display";
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 0.9225rem;
    text-align: left;
    color: #667185;
  }

  .resend_code {
    color: #0257ee;
  }

  .button {
    width: 37.1rem;
    height: 3rem;
    gap: 1rem;
    border-radius: 1.88rem;
    background-color: #0257ee;
    color: #f6f7f9;
    margin-top: 3.6rem;
    border-color: #0257ee;
    border-style: solid;
  }

  .incorrect input {
    background-color: #fdf2f2;
    border-color: #fa2b2b;
    color: #fa2b2b;
  }

  .correct input {
    background-color: #f3faf7;
    border-color: #2ac940;
    color: #2ac940;
    font-family: "Clash display";
  }

  .otp_container {
    position: relative;
  }

  .correct {
    font-family: "Source Sans Pro";
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.26rem;
    text-align: left;
    color: #2ac940;
  }

  .incorrect {
    color: #fa2b2b;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.26rem;
    font-family: "Source Sans Pro";
  }

  .error_icon {
    position: absolute;
    margin-top: -2.19rem;
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 34.5625rem;
    cursor: pointer;
    display: none;
  }

  .error_display {
    position: absolute;
    margin-top: -2.19rem;
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 34.5625rem;
    cursor: pointer;
    display: block;
  }

  .success_icon {
    position: absolute;
    margin-top: -2.19rem;
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 34.5625rem;
    cursor: pointer;
    display: none;
  }

  .success_display {
    position: absolute;
    margin-top: -2.19rem;
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 34.5625rem;
    cursor: pointer;
    display: block;
  }
}
