@media only screen and (min-width: 48rem) {
  .reset_password_container {
    width: 259px;
    height: 79px;
    margin-top: 8.94rem;
    margin-left: 15rem;
    gap: 16px;
  }

  .rest_password {
    font-family: "Clash Display";
    font-size: 32px;
    font-weight: 600;
    line-height: 39.36px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  .enter_password {
    font-family: "Source Sans Pro";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #667185;
    margin-top: 16px;
  }

  .new_password {
    margin-left: 4.375rem;
    margin-top: 63px;
  }

  .new_password_label {
    margin-bottom: 8px;
    font-family: "Clash Display";
    font-size: 16px;
    font-weight: 500;
    line-height: 19.68px;
    text-align: left;
  }

  .password {
    width: 561px;
    height: 24px;
    padding: 12px 16px 12px 16px;
    gap: 10px;
    border-radius: 8px;
    border: 1px;
    border-style: solid;
    color: #d7dae0;
  }

  .confirm {
    width: 561px;
    height: 24px;
    padding: 12px 16px 12px 16px;
    gap: 10px;
    border-radius: 8px;
    border: 1px;
    border-style: solid;
    color: #d7dae0;
  }

  .confirm_password {
    margin-left: 4.375rem;
    margin-top: 32px;
  }

  .confirm_password_label {
    margin-bottom: 8px;
    font-family: "Clash Display";
    font-size: 16px;
    font-weight: 500;
    line-height: 19.68px;
    text-align: left;
  }

  .button {
    width: 593px;
    height: 48px;
    margin-top: 35px;
    margin-left: 4.375rem;
    border-radius: 30px;
    opacity: 0px;
    background: #0257ee;
    color: #f6f7f9;
    border-color: #0257ee;
    border-style: solid;
  }
}

@media only screen and (min-width: 65rem) {
  .reset_password_container {
    width: 259px;
    height: 79px;
    margin-left: 590.5px;
    margin-top: 143px;
    gap: 16px;
  }

  .rest_password {
    font-family: "Clash Display";
    font-size: 32px;
    font-weight: 600;
    line-height: 39.36px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  .enter_password {
    font-family: "Source Sans Pro";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #667185;
    margin-top: 16px;
  }

  .button {
    width: 593px;
    height: 48px;
    margin-top: 35px;
    margin-left: 424px;
    border-radius: 30px;
    opacity: 0px;
    background: #0257ee;
    color: #f6f7f9;
    border-color: #0257ee;
    border-style: solid;
  }

  .new_password {
    margin-left: 424px;
    margin-top: 63px;
  }
  .new_password_label {
    margin-bottom: 8px;
    font-family: "Clash Display";
    font-size: 16px;
    font-weight: 500;
    line-height: 19.68px;
    text-align: left;
    color: #010101;
  }

  .password {
    width: 561px;
    height: 24px;
    padding: 12px 16px 12px 16px;
    gap: 10px;
    border-radius: 8px;
    border: 1px;
    border-style: solid;
    color: #d7dae0;
  }

  .confirm {
    width: 561px;
    height: 24px;
    padding: 12px 16px 12px 16px;
    gap: 10px;
    border-radius: 8px;
    border: 1px;
    border-style: solid;
    color: #d7dae0;
  }

  .confirm_password {
    margin-left: 424px;
    margin-top: 32px;
  }

  .confirm_password_label {
    margin-bottom: 8px;
    font-family: "Clash Display";
    font-size: 16px;
    font-weight: 500;
    line-height: 19.68px;
    text-align: left;
    color: #010101;
  }

  .input_control input:focus {
    outline: 0;
    background-color: #f9fafb;
    border-color: #0257ee;
  }

  .input-container {
    position: relative;
  }

  .input-image {
    position: absolute;
    bottom: 0.75rem;
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    margin-left: 561px;
    background-image: url(images/eye.svg);
  }

  .input-image.display {
    position: absolute;
    bottom: 0.75rem;
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    background-image: url(images/eye-slash.svg);
  }
  .open_image {
    position: absolute;
    bottom: 0.75rem;
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    margin-left: 561px;
    background-image: url(images/eye.svg);
  }

  .close_image {
    position: absolute;
    bottom: 0.75rem;
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    background-image: url(images/eye-slash.svg);
  }
  .password_validate {
    font-family: "Source Sans Pro";
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.26rem;
    color: #fa2b2b;
    position: absolute;
    margin-top: 0.1875rem;
  }
  .password_validate1 {
    font-family: "Source Sans Pro";
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.26rem;
    color: #fa2b2b;
    position: absolute;
    margin-top: 0.1875rem;
  }

  .incorrect input {
    background-color: #fdf2f2;
    border-color: #fa2b2b;
    color: #fa2b2b;
  }

  .correct input {
    background-color: #f3faf7;
    border-color: #2ac940;
    color: #2ac940;
    font-family: "Clash display";
  }

  .correct {
    font-family: "Source Sans Pro";
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.26rem;
    text-align: left;
    color: #2ac940;
  }

  .incorrect {
    color: #fa2b2b;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.26rem;
    font-family: "Source Sans Pro";
  }

  .alert-style {
    width: 312px;
    height: 1.3125rem;
    margin-top: 0rem;
    margin-left: 564px;
    border-radius: 0.375rem;
    background: #fde8e8;
    font-family: "Inter";
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.3125rem;
    text-align: left;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-right: 1rem;
    color: #046c4e;
    background-color: #def7ec;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: none;
    gap: 0.75rem;
  }

  .alert {
    width: 280px;
    height: 1.3125rem;
    margin-top: -9rem;
    margin-left: 564px;
    border-radius: 0.375rem;
    background: #fde8e8;
    font-family: "Inter";
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.3125rem;
    text-align: left;
    padding-left: 1rem;
    padding-right: 1rem;
    color: #046c4e;
    background-color: #def7ec;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    gap: 70px;
    position: absolute;
  }
}
