.reset_password_container {
  width: 20.1rem;
  height: 3.6rem;
  margin-top: 3.75rem;
  margin-left: 1.1rem;
  margin-right: 1.1rem;
  gap: 0.5rem;
}

.rest_password {
  font-family: "Clash Display";
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.54rem;
  text-align: left;
}

.enter_password {
  font-family: "Source Sans Pro";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  text-align: left;
  color: #667185;
  margin-top: 1rem;
}

.new_password {
  margin-right: 1rem;
  margin-left: 1rem;
  margin-top: 4.5rem;
}

.new_password_label {
  margin-bottom: 0.5rem;
  font-family: "Clash Display";
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.23rem;
  text-align: left;
  color: #010101;
}

.password {
  width: 311px;
  height: 24px;
  padding: 12px 16px 12px 16px;
  gap: 10px;
  border-radius: 8px;
  border: 1px;
  border-style: solid;
  border-color: #d7dae0;
  color: #667185;
}

.confirm {
  width: 19.44rem;
  height: 1.5rem;
  padding: 0.75rem 1rem 0.75rem 1rem;
  gap: 0.625rem;
  border-radius: 0.5rem;
  border: 0.0625rem;
  border-style: solid;
  border-color: #d7dae0;
  color: #667185;
}

.confirm_password {
  margin-right: 1rem;
  margin-left: 1rem;
  margin-top: 2rem;
}

.confirm_password_label {
  margin-bottom: 0.5rem;
  font-family: "Clash Display";
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.23rem;
  text-align: left;
  color: #010101;
}

.button {
  width: 21.44rem;
  height: 3rem;
  margin-top: 4rem;
  margin-left: 1rem;
  margin-right: 1rem;
  border-radius: 1.88rem;
  background: #0257ee;
  color: #f6f7f9;
  border-color: #0257ee;
  border-style: solid;
}

.input-container {
  position: relative;
}

.input-image {
  position: absolute;
  bottom: 0.75rem;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  margin-left: 19.34rem;
  background-image: url(images/eye.svg);
}

.input-image.display {
  position: absolute;
  bottom: 0.75rem;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  background-image: url(images/eye-slash.svg);
}
.open_image {
  position: absolute;
  bottom: 0.75rem;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  margin-left: 19.34rem;
  background-image: url(images/eye.svg);
}

.close_image {
  position: absolute;
  bottom: 0.75rem;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  background-image: url(images/eye-slash.svg);
}
.password_validate {
  font-family: "Source Sans Pro";
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.26rem;
  color: #fa2b2b;
  position: absolute;
  margin-top: 0.1875rem;
}
.password_validate1 {
  font-family: "Source Sans Pro";
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.26rem;
  color: #fa2b2b;
  position: absolute;
  margin-top: 0.1875rem;
}

.incorrect input {
  background-color: #fdf2f2;
  border-color: #fa2b2b;
  color: #fa2b2b;
}

.correct {
  font-family: "Source Sans Pro";
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.26rem;
  text-align: left;
  color: #2ac940;
}

.correct input {
  background-color: #f3faf7;
  border-color: #2ac940;
  color: #2ac940;
  font-family: "Clash display";
}

.incorrect {
  color: #fa2b2b;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.26rem;
  font-family: "Source Sans Pro";
}

.alert-style {
  width: 15.625rem;
  height: 1.3125rem;
  margin-top: -2.8125rem;
  margin-left: 1rem;
  border-radius: 0.375rem;
  background: #fde8e8;
  font-family: "Inter";
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.3125rem;
  text-align: left;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-right: 1rem;
  color: #046c4e;
  background-color: #def7ec;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  display: none;
  gap: 0.75rem;
}

.alert {
  width: 15.625rem;
  height: 1.3125rem;
  margin-top: -3.125rem;
  margin-left: 1rem;
  border-radius: 0.375rem;
  background: #fde8e8;
  font-family: "Inter";
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.3125rem;
  text-align: left;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  color: #046c4e;
  background-color: #def7ec;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  display: flex;
  gap: 1.875rem;
  position: absolute;
}

.input_control input:focus {
  outline: 0;
  background-color: #f9fafb;
  border-color: #0257ee;
  color: #667185;
}
@media only screen and (min-width: 48rem) {
  .reset_password_container {
    width: 16.19rem;
    height: 4.94rem;
    margin-top: 8.94rem;
    margin-left: 15rem;
    gap: 1rem;
  }

  .rest_password {
    font-family: "Clash Display";
    font-size: 2rem;
    font-weight: 600;
    line-height: 2.46rem;
    text-align: left;
  }

  .enter_password {
    font-family: "Source Sans Pro";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    text-align: left;
    color: #667185;
    margin-top: 1rem;
  }

  .new_password {
    margin-left: 4.375rem;
    margin-top: 3.94rem;
  }

  .new_password_label {
    margin-bottom: 0.5rem;
    font-family: "Clash Display";
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.23rem;
    text-align: left;
    color: #010101;
  }

  .password {
    width: 35.1rem;
    height: 1.5rem;
    padding: 0.75rem 1rem 0.75rem 1rem;
    gap: 0.625rem;
    border-radius: 0.5rem;
    border: 0.0625rem;
    border-style: solid;
    border-color: #d7dae0;
    color: #667185;
  }

  .confirm {
    width: 35.1rem;
    height: 1.5rem;
    padding: 0.75rem 1rem 0.75rem 1rem;
    gap: 0.625rem;
    border-radius: 0.5rem;
    border: 0.0625rem;
    border-style: solid;
    border-color: #d7dae0;
    color: #667185;
  }

  .confirm_password {
    margin-left: 4.375rem;
    margin-top: 2rem;
  }

  .confirm_password_label {
    margin-bottom: 0.5rem;
    font-family: "Clash Display";
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.23rem;
    text-align: left;
    color: #010101;
  }

  .button {
    width: 37.1rem;
    height: 3rem;
    margin-top: 2.19rem;
    margin-left: 4.375rem;
    border-radius: 1.89rem;
    background: #0257ee;
    color: #f6f7f9;
    border-color: #0257ee;
    border-style: solid;
  }

  .input-container {
    position: relative;
  }

  .input-image {
    position: absolute;
    bottom: 0.75rem;
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    margin-left: 35.1rem;
    background-image: url(images/eye.svg);
  }

  .input-image.display {
    position: absolute;
    bottom: 0.75rem;
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    background-image: url(images/eye-slash.svg);
  }
  .open_image {
    position: absolute;
    bottom: 0.75rem;
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    margin-left: 35.1rem;
    background-image: url(images/eye.svg);
  }

  .close_image {
    position: absolute;
    bottom: 0.75rem;
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    background-image: url(images/eye-slash.svg);
  }
  .password_validate {
    font-family: "Source Sans Pro";
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.26rem;
    color: #fa2b2b;
    position: absolute;
    margin-top: 0.1875rem;
  }
  .password_validate1 {
    font-family: "Source Sans Pro";
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.26rem;
    color: #fa2b2b;
    position: absolute;
    margin-top: 0.1875rem;
  }

  .incorrect input {
    background-color: #fdf2f2;
    border-color: #fa2b2b;
    color: #fa2b2b;
  }

  .correct {
    font-family: "Source Sans Pro";
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.26rem;
    text-align: left;
    color: #2ac940;
  }

  .correct input {
    background-color: #f3faf7;
    border-color: #2ac940;
    color: #2ac940;
    font-family: "Clash display";
  }

  .incorrect {
    color: #fa2b2b;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.26rem;
    font-family: "Source Sans Pro";
  }

  .alert-style {
    width: 19.5rem;
    height: 1.3125rem;
    margin-top: 0rem;
    margin-left: 564px;
    border-radius: 0.375rem;
    background: #fde8e8;
    font-family: "Inter";
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.3125rem;
    text-align: left;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-right: 1rem;
    color: #046c4e;
    background-color: #def7ec;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: none;
    gap: 0.75rem;
  }

  .alert {
    width: 17.5rem;
    height: 1.3125rem;
    margin-top: -9rem;
    margin-left: 250px;
    border-radius: 0.375rem;
    background: #fde8e8;
    font-family: "Inter";
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.3125rem;
    text-align: left;
    padding-left: 1rem;
    padding-right: 1rem;
    color: #046c4e;
    background-color: #def7ec;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    gap: 4.4rem;
    position: absolute;
  }

  .input_control input:focus {
    outline: 0;
    background-color: #f9fafb;
    border-color: #0257ee;
    color: #667185;
  }
}

@media only screen and (min-width: 65rem) {
  .reset_password_container {
    width: 16.19rem;
    height: 4.94rem;
    margin-left: 37rem;
    margin-top: 8.94rem;
    gap: 1rem;
  }

  .rest_password {
    font-family: "Clash Display";
    font-size: 2rem;
    font-weight: 600;
    line-height: 2.46rem;
    text-align: left;
  }

  .enter_password {
    font-family: "Source Sans Pro";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    text-align: left;
    color: #667185;
    margin-top: 1rem;
  }

  .button {
    width: 37.1rem;
    height: 3rem;
    margin-top: 2.19rem;
    margin-left: 26.5rem;
    border-radius: 1.89rem;
    background: #0257ee;
    color: #f6f7f9;
    border-color: #0257ee;
    border-style: solid;
  }

  .new_password {
    margin-left: 26.5rem;
    margin-top: 3.94rem;
  }
  .new_password_label {
    margin-bottom: 0.5rem;
    font-family: "Clash Display";
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.23rem;
    text-align: left;
    color: #010101;
  }

  .password {
    width: 35.1rem;
    height: 1.5rem;
    padding: 0.75rem 1rem 0.75rem 1rem;
    gap: 0.625rem;
    border-radius: 0.5rem;
    border: 0.0625rem;
    border-style: solid;
    border-color: #d7dae0;
    color: #667185;
  }

  .confirm {
    width: 35.1rem;
    height: 1.5rem;
    padding: 0.75rem 1rem 0.75rem 1rem;
    gap: 0.625rem;
    border-radius: 0.5rem;
    border: 0.0625rem;
    border-style: solid;
    border-color: #d7dae0;
    color: #667185;
  }

  .confirm_password {
    margin-left: 26.5rem;
    margin-top: 2rem;
  }

  .confirm_password_label {
    margin-bottom: 0.5rem;
    font-family: "Clash Display";
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.23rem;
    text-align: left;
    color: #010101;
  }

  .input_control input:focus {
    outline: 0;
    background-color: #f9fafb;
    border-color: #0257ee;
    color: #667185;
  }

  .input-container {
    position: relative;
  }

  .input-image {
    position: absolute;
    bottom: 0.75rem;
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    margin-left: 35.1rem;
    background-image: url(images/eye.svg);
  }

  .input-image.display {
    position: absolute;
    bottom: 0.75rem;
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    background-image: url(images/eye-slash.svg);
  }
  .open_image {
    position: absolute;
    bottom: 0.75rem;
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    margin-left: 35.1rem;
    background-image: url(images/eye.svg);
  }

  .close_image {
    position: absolute;
    bottom: 0.75rem;
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    background-image: url(images/eye-slash.svg);
  }
  .password_validate {
    font-family: "Source Sans Pro";
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.26rem;
    color: #fa2b2b;
    position: absolute;
    margin-top: 0.1875rem;
  }
  .password_validate1 {
    font-family: "Source Sans Pro";
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.26rem;
    color: #fa2b2b;
    position: absolute;
    margin-top: 0.1875rem;
  }

  .incorrect input {
    background-color: #fdf2f2;
    border-color: #fa2b2b;
    color: #fa2b2b;
  }

  .correct input {
    background-color: #f3faf7;
    border-color: #2ac940;
    color: #2ac940;
    font-family: "Clash display";
  }

  .correct {
    font-family: "Source Sans Pro";
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.26rem;
    text-align: left;
    color: #2ac940;
  }

  .incorrect {
    color: #fa2b2b;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.26rem;
    font-family: "Source Sans Pro";
  }

  .alert-style {
    width: 19.5rem;
    height: 1.3125rem;
    margin-top: 0rem;
    margin-left: 564px;
    border-radius: 0.375rem;
    background: #fde8e8;
    font-family: "Inter";
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.3125rem;
    text-align: left;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-right: 1rem;
    color: #046c4e;
    background-color: #def7ec;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: none;
    gap: 0.75rem;
  }

  .alert {
    width: 17.5rem;
    height: 1.3125rem;
    margin-top: -9rem;
    margin-left: 564px;
    border-radius: 0.375rem;
    background: #fde8e8;
    font-family: "Inter";
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.3125rem;
    text-align: left;
    padding-left: 1rem;
    padding-right: 1rem;
    color: #046c4e;
    background-color: #def7ec;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    gap: 4.4rem;
    position: absolute;
  }
}
